@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1, h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior */
    border-radius: 10px; /* Bordes redondeados (opcional) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra (opcional) */
}  

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#f2f2f2;
    background-color: #593939; /* Fondo blanco */
}

header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    list-style-type: none;
    background-color: #f2f2f2;
}

body {font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior */
    border-radius: 10px; /* Bordes redondeados (opcional) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra (opcional) */
    background-image: url(../IMG/Patitas-fondo.png);
    background-size: 20%;
}

footer {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-size: larger;
        font-style: normal;
        background-color: #ffffff; /* Fondo blanco */
        padding: 20px; /* Espaciado interno */
        margin-bottom: 20px; /* Espaciado inferior */
        border-radius: 10px; /* Bordes redondeados (opcional) */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra (opcional) */
        align-content: center;
} 

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
    list-style-type: style none;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.equipo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.voluntario {
    flex-basis: calc(25% - 10px); /* Ajusta el ancho según tu necesidad */
    margin-bottom: 20px;
}

.voluntario img {
    max-width: 100%;
}


.logo {
    width: 100px; /* Ajusta el ancho según tu necesidad */
    height: auto;
}


form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
} 

ol{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
} 

.container-mision-vision {
    text-align: center;
}
.foto-mision-vision{
    text-align: center;
    max-width: 70%;
}

.fotos-generales {max-width: 70%;}
.paw {max-width: 5%;}

.container-bienvenida {
    text-align: center;
}
.foto-de-bienvenida {
    text-align: center;
}


.voluntario {max-width: 20%;}
.foto-adoptables {max-width: 50%;}
.rrss {max-width: 3%;}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; /* Espacio entre cada elemento */
    text-align: center; /* Centrar texto en cada columna */
}

h3 {
    background-color: #e0982c; /* Color de fondo */
    padding: 20px; /* Espacio interno */
    border-radius: 5px; /* Bordes redondeados */
    font-family: "Pacifico", cursive;
    font-weight: lighter;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.formulario{
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

textarea, select {
    width: calc(100% - 12px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #45a049;
}